_ReSharper.ConfMSProject/
ConfMSProject/obj/
ConfMSTest/obj/
ConfMSProject/bin/
ConfMSTest/bin/
ConfMSProject.*.ReSharper.user
ConfMSProject.suo
ConfMSProject/ConfMSProject.csproj.user
ConfMSTest/ConfMSTest.csproj.user
*.log
build/output/
