ConfMSProject/_ReSharper.ConfMSProject/**/*
ConfMSProject/obj/**/*
ConfMSTest/obj/**/*
ConfMSProject/ConfMSProject.5.1.ReSharper.user
ConfMSProject/ConfMSProject.suo
ConfMSProject/_ReSharper.ConfMSProject/*
